<content data-context="output">
	<div data-id="ui-template">
		<textarea></textarea>
		<div class="wrapper">
			<div class="output-buffer"><!--
			--></div>
			<div class="input">
				<i>def:<span class="ticon terminal-input"/></span></svg></i>
				<span class="buffer"></span>
				<span class="cursor">
					<svg><use href="#terminal-cursor-heart"/></svg>
					<svg class="cursor-blink"><use href="#terminal-cursor-classic"/></svg>
					<svg class="cursor-blink"><use href="#terminal-cursor-heart"/></svg>
				</span>
			</div>
		</div>
	</div>
</content>
